global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  30m
    timeout server  30m

frontend postgres_write_front
    bind *:5432
    default_backend postgres_write_back

backend postgres_write_back
    mode tcp
    option tcp-check
    server pg_primary_bouncer pgbouncer_primary:6432 check

frontend postgres_read_front
    bind *:5433
    default_backend postgres_read_back

backend postgres_read_back
    mode tcp
    option tcp-check
    server pg_replica_bouncer pgbouncer_replica:6432 check
