global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  30m
    timeout server  30m

# External entrypoint for NestJS writes
frontend postgres_write_front
    bind *:5432
    default_backend postgres_write_back

backend postgres_write_back
    server pgbouncer_primary_srv pgbouncer_primary:6432 check

# External entrypoint for NestJS reads
frontend postgres_read_front
    bind *:5433
    default_backend postgres_read_back

backend postgres_read_back
    server pgbouncer_replica_srv pgbouncer_replica:6432 check

# Internal dynamic routing for Primary Database (Writes)
frontend patroni_primary_front
    bind *:5000
    default_backend patroni_primary_back

backend patroni_primary_back
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg_primary pg_primary:5432 check port 8008
    server-template pg_replica_template 1-10 pg_replica:5432 check port 8008 resolvers docker_dns resolve-prefer ipv4

# Internal dynamic routing for Replica Databases (Reads)
frontend patroni_replica_front
    bind *:5001
    default_backend patroni_replica_back

backend patroni_replica_back
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server pg_primary pg_primary:5432 check port 8008
    server-template pg_replica_template 1-10 pg_replica:5432 check port 8008 resolvers docker_dns resolve-prefer ipv4

# Resolvers using Docker internal DNS
resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold other 10s
    hold refused 10s
    hold nx 10s
    hold valid 10s
